{% load i18n %}
{% extends 'myauth/base.html' %}
{#{% load crispy_form_tags %}#}

{% block title %}
    About me
{% endblock %}

{% block body %}
    <h1>User Info</h1>
    {% if user.is_authenticated %}
        <h2>Detail</h2>
        <p>Username: {{ user.username }}</p>
        <p>First name: {{ user.first_name }}</p>
        <p>Last name: {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Bio: {{ user.profile.bio }}</p>
        <p>PK: {{ user.pk }}</p>
        {% if user.profile.avatar %}
            <img src="{{ user.profile.avatar.url }}" alt="{{ user.profile.avatar.name }}" height="100px" width="100px">
        {% else %}
            <div>No avatar yet</div>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
                {{ form }}
                <button type="submit">Обновить</button>
        </form>

    {% else %}
        <h2>User is anonymous</h2>
    {% endif %}
{% endblock %}